* {
    font-family:font-family:'Rubik', sans-serif;
    font-size:12px;
    margin:0;
    border:0;
    padding:0;
      
}

body{
    background-image:linear-gradient(to right, rgb(141, 99, 182),rgb(82, 0, 165));
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.box {
    color:white;
    background-color: rgba(0,0, 0,0.6);
    padding: 1rem;
    border-radius: 15px;
    min-width: 26vw;
    align-items: center;
    justify-content: center;
    
}

fieldset {
    border: 3px solid rgb(78, 78, 78);
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

legend {
    border: 1px solid rgb(78, 78, 78);
    padding: 10px;
    text-align: center;
    background-color:rgb(78, 78, 78);
    border-radius: 8px;
    color: white;
    align-items: center;
    justify-content: center;
}

.inputUser {
    background: none;
    border:none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

#data_nascimento {
    border:none;
    padding: 3px;
    border-radius: 5px;
    outline: none;
}

#submit {
    background-image:linear-gradient(to right, rgb(163, 127, 199),rgb(132, 36, 228));
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
#submit:hover {
    background-image:linear-gradient(to right, rgb(90, 43, 136),rgb(39, 2, 77));
}

@media only screen and (max-width:450px) {
    * {
        font-family:font-family:'Rubik', sans-serif;
        font-size:10px;
              
    }
}
